// Colors

$black:					#333;
$black--brighter:		#494541;
$black--brightest:		#5c5854;

$gray:					#e1e0dd;
$gray--darker:			#898479;
$gray--brighter:		#9e988c;

$orange:				#fb7a12;
$orange--brighter:		#f8f5ee;
$orange--brightest:		#fab113;

$color-page-background:	$black;
$color-button-hover:	$black;
