// Colors

$black:					#333;

$gray:					#e1e0dd;
$gray--darker:			#898479;
$gray--brighter:		#9e988c;

$orange:				#fb7a12;
$orange--brighter:		#f8f5ee;
$orange--brightest:		#fab113;

$color-page-background:	$black;
$color-button-hover:	$black;
