// Fonts

$sans-serif:		'Fira Sans', sans-serif;
$serif:				'Questa', serif;


// Font weights

$light:				300;
$regular:			400;
$bold:				700;


// Default

$base-font-size:	14;
$text:				$sans-serif;
$grid-base-width:	1080;


// RWD
