.icon-company:before {
    content: "\e900";
}
.icon-remove-circle:before {
    content: "\e901";
}
.icon-environment:before {
    content: "\e902";
}
.icon-ff-color .path1:before {
    content: "\e903";
    color: rgb(224, 49, 39);
}
.icon-ff-color .path2:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-ff-color .path3:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(252, 177, 49);
}
.icon-ff-white:before {
    content: "\e906";
}
.icon-link:before {
    content: "\e907";
}
.icon-production:before {
    content: "\e908";
}
.icon-quality:before {
    content: "\e909";
}
.icon-files:before {
    content: "\e90a";
}
.icon-cancel:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e90c";
}
.icon-youtube-play:before {
    content: "\e90d";
}
.icon-twitter:before {
    content: "\e90e";
}
.icon-facebook:before {
    content: "\e90f";
}
.icon-google-plus:before {
    content: "\e910";
}

