.icon-close:before {
    content: "\e905";
}
.icon-hamburger:before {
    content: "\e904";
}
.icon-company:before {
    content: "\e900";
}
.icon-remove-circle:before {
    content: "\e901";
}
.icon-environment:before {
    content: "\e902";
}
.icon-link:before {
    content: "\e907";
}
.icon-production:before {
    content: "\e908";
}
.icon-quality:before {
    content: "\e909";
}
.icon-files:before {
    content: "\e90a";
}
.icon-cancel:before {
    content: "\e90b";
}
.icon-globe:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e90c";
}
.icon-youtube-play:before {
    content: "\e90d";
}
.icon-twitter:before {
    content: "\e90e";
}
.icon-facebook:before {
    content: "\e90f";
}
.icon-google-plus:before {
    content: "\e910";
}

