.o-media {
	position: relative; z-index: 5;
	display: block;
	max-width: 100%;
	height: auto;
}

.o-cover {
	@include transform(translate(-50%, -50%));
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	width: 100%;
	height: auto;
	
	@media screen and ( max-width: 1280px ) {
		width: auto;
		height: 100%;
	}
	
	&--vert {
		width: auto;
		height: 100%;
	}
}
