.c-files-table {
	
	&__item {
		float: left;
		width: grid(540);
		padding-bottom: 50px;
		
		&:nth-child(even) {
			float: right;
			border-left: 1px solid rgba($gray--darker, .5);
			padding-left: 29px;
		}

		
		&:nth-child(2n+1) {
			clear: left;
		}
	}

	
	&__text {
		float: left;
		width: grid(390, 540);
		padding-left: grid(30, 390);
	}
	
	&__details {
		position: relative;
		padding-right: 40px;
		font-size: em(12);
		color: #69655d;
	}
	
	.icon-files {
		@include border-radius( 50% );
		float: left;
		width: 120px; height: 120px;
		border: 2px solid $orange;
		text-align: center;
		line-height: 116px;
		font-size: em(80);
		color: #f9b31f;
	}
	
	.o-download {
		right: 0; top: 5px;
	}
	
	@media screen and ( max-width: $grid-base-width + px ) {
		.icon-files {
			width: grid(120, 540);
			height: 11vw;
			font-size: 8vw;
			line-height: 10.8vw;
		}
	}
	
	@media screen and ( max-width: 640px ) {
	
		&__item {
			&:nth-child(odd) {
				padding-right: 29px;
			}
		}

		&__text {
			float: none;
			width: 100%;
			padding-left: 0;
		}

		.icon-files {
			display: none;
		}
	}
	
	@media screen and ( max-width: 480px ) {
	
		&__item {
			float: none;
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
			
			&:nth-child(odd) {
				padding: 0;
			}
			
			&:nth-child(even) {
				float: none;
				border: none;
				padding: 0;;
			}
		}
	}
	
}

.c-files-list {
	display: table;
	width: 100%;

	h5 {
		font-size: em(16);
	}

	&__item {
		position: relative;
		padding: 10px 0;
		border-bottom: 1px solid rgba($gray--darker, .5);
		cursor: pointer;
		
		&:hover {
			@include gradient(#fa9017, #ef7411, 180deg);
			color: white;
			
			.icon-files,
			.o-download,
			.c-files-list__details {
				color: white;
			}
			
			.c-files-list__col {
				border-right-color: rgba(white, .5);
			}
		}
	}
	
	&__col {
		display: table-cell;
		padding: 0 10px;
		border-right: 1px solid rgba($gray--darker, .5);
		vertical-align: middle;
		
		&:first-of-type {
			padding-left: 0;
		}
		
		&:last-of-type {
			border: none;
		}
	}
	
	&__details {
		font-size: em(12);
		color: #69655d;
		
		p {
			display: inline-block;
			padding-right: 20px;
		}
	}
	
	.icon-files {
		font-size: em(44);
		color: #f9b31f;
	}
	
	.o-download {
		right: 10px; top: 20px;
	}
}