.c-nav-panel {
	@include hover;
	@include animfix;
	position: fixed;
	z-index: 29;
	width: 360px; height: 100%;
	background-color: $black--brightest;
	text-align: center;

	&--left {
		@include transform(translate(-360px, 0));
		top: 72px; left: 0;		
		
		@media screen and ( max-width: 1024px ) {
			width: 260px;
		}
		
	}

	&--right {
		@include transform(translate(360px, 0));
		top: 0; right: 0;
	}

	&.is-active {
		@include transform(translate(0, 0));
	}

	&__lead {
		@include box-shadow( #423e3b 0 -1px 0 inset );
		position: relative;
		background-color: $black--brighter;
		border-bottom: 1px solid #6b6864;
		padding: 12px 15px;
		text-align: left;
		color: #999;
	}

	&__menu {
		position: absolute;
		left: 0; z-index: 5;
		width: 100%;
		
		.c-nav-panel--right & {
			top: 72px;
		}
		
		> .is-active {
			.sub-menu {
			
				.c-nav-panel--right & {
					border-right: 6px solid $orange;
				}

				li {
					a {
						padding-left: 6px;
					}

					&.is-active {
						a {
							@include gradient(#fa9017, #ef7411, 180deg);
							position: relative;
							color: white;
							
							&:before {
								@include antialias;
								position: absolute;
								top: -3px;
								display: block;
								font: {
									size: 32px;
								}
								
								.c-nav-panel--left & {
									right: 10px;
									content: '»';
								}
								
								.c-nav-panel--right & {
									left: 10px;
									content: '«';
								}
							}							
						}
					}
				}
			}
		}
	}

	&__top {
		@include box-shadow( #423e3b 0 -1px 0 inset );
		position: relative; z-index: 10;
		height: 72px;
		background-color: $black--brighter;
		border-bottom: 1px solid #6b6864;
		padding-top: 10px;
	}
	
	a {
		@include box-shadow( #423e3b 0 -1px 0 inset );
		display: block;
		background-color: $black--brightest;
		padding: 12px 0;
		border-bottom: 1px solid #6b6864;
		color: #ccc;
		
		&:hover {
			color: white;
		}

		&.has-submenu {
			background-color: $black--brighter;
			text-transform: uppercase;
			color: #999;
		}
	}
	
	.icon-close {
		position: absolute;
		top: 12px;
	    right: 12px;
		font-size: 18px;
		color: $orange;
		cursor: pointer;
	}
	
	@media screen and ( max-width: 360px ) {
		width: 100%;		
	}
	
	-webkit-overflow-scrolling: touch;
	
	.mobile & {
		overflow: scroll;
	}
}

