.c-nav-lang {
	position: absolute;
	top: 17px;
	right: 0;
	
	.nice-select {
		padding-left: 32px;
		text-transform: uppercase;
		
		&:before {
			position: absolute;
			left: 6px; top: -2px;
			font: {
				family: $icomoon;
				size: 22px;
			}
			content: "\e903";
		}
	}
	
	@media screen and ( max-width: 1180px ) {
		right: 50px;
	}
	
}