.c-news {
	&__content {
		position: relative; z-index: 5;
		width: grid(620);
		background-color: $orange--brighter;
		padding: 20px 30px;
		line-height: 1.6;
	}
	
	&__excerpt {
		border-bottom: 1px solid #dcd9d1;
		padding-bottom: 25px;
		margin-bottom: 15px;
		color: $black;
	}
	
	&__header {
		@include antialias;
		@include text-shadow( rgba(white, 1) 0 1px 1px );
		margin-bottom: 20px;

		h3 {
			line-height: 1.2;
			font-size: em(24);
		}
	}

	&__item {
		@include border-radius;
		position: relative; z-index: 5;
		min-height: 340px;
		background-color: $orange--brighter;
		margin-bottom: 50px;
		
		&:after {
			@include box-shadow( rgba(black, .4) 10px 0 40px);
			position: absolute; z-index: 1;
			left: 3%; bottom: 0;
			display: block;
			content: ' ';
			width: 94%;
			height: 10px;
			background-color: transparent;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__meta {
		border-top: 1px solid #dcd9d1;
		border-bottom: 1px solid #dcd9d1;
		margin-bottom: 20px;
		padding: 6px 0;
		text-align: right;
		font-size: em(12);
	}

	@media screen and ( max-width: $grid-base-width + px ) {
		.o-cover--vert {
			width: auto;
			height: 100%;
		}
	}
	
	@media screen and ( min-width: 769px ) {
		&__photo {
			@include border-bottom-right-radius;
			@include border-top-right-radius
			position: absolute;
			top: 0; right: 0;
			width: grid(460); height: 100%;
			overflow: hidden;
		}
	}
	
	@media screen and ( max-width: 768px ) {
		&__item {
			max-width: 460px;
			margin: 0 auto;
		}

		&__content {
			width: 100%;
			padding: 20px;
		}
		
		.o-cover {
			@include transform(translate(0,0 ));
			position: relative;
			left: auto;
			top: auto;
			max-width: 100%;
			height: auto;
		}
	}
}