.c-slogans {
	position: relative;
	z-index: 10;
	text-align: center;
	color: white;
	
	p {
		font-size: em(16);
	}

	&__item,
	&__photo,
	&__title,
	.o-media,
	[class^="icon-"] {
		@include hover;
		@include transition-duration(600ms);
		@include transition-timing-function(ease-out);
	}
	
	&__item,
	&__photo,
	&__title,
	.o-media {
		@include animfix;
	}

	&__item {
		float: left;
		position: relative;
		width: 270px;
		padding-top: 140px;
		cursor: pointer;
	}
	
	[class^="icon-"] {
		@include border-radius( 50% );
		top: 0; z-index: 10;
		display: inline-block;
		width: 120px;
		height: 120px;
		border: 2px solid white;
		margin-bottom: 20px;
		line-height: 110px;
		font-size: em(56);
	}
	
	&__photo {
		@include border-radius( 50% );
		@include opacity(0);
		@include transform(rotate(180deg) scale(0));
		position: absolute;
		top: -25px; left: 6px;
		z-index: 5;
		width: 100%; height: 258px;
		background-color: black;
		overflow: hidden;
		
		.o-media {
			@include opacity(.67);
		}
	}
	
	&__title {
		margin-bottom: 25px;
		padding-bottom: 30px;
		border-bottom: 2px solid white;
		font: {
			size: em(30);
		}
	}
	
	&__title,
	p {
		position: relative; z-index: 10;
		display: inline-block;
		width: grid(200, 270);
	}
	
	.icon-production, .icon-environment {
		font-size: em(64);
	}
	
	.is-active {
		@media screen and ( min-width: 768px ) {
			border: none;
			padding-top: 100px;
			
			.c-slogans__photo {
				@include transform(rotate(0) scale(1));
				@include opacity(1);
			}
			
			.c-slogans__title {
			    border: none;
			    margin-bottom: 80px;
				font-size: em(36);
			}
			
			[class^="icon-"] {
				border: none;
			}
		}
	}
	
	@media screen and ( min-width: 768px ) {
		@include scut-center-transform(y);
		left: 0;
		width: 100%;

		&__item {
			width: grid(270);
		}
		
		[class^="icon-"] {
			width: grid(120, 270);
		}
	}
	
	@media screen and ( min-width: 768px ) and ( max-width: $grid-base-width+px ) {

		&__item {			
			&.is-active {
				padding-top: 9vw !important;
				
				.c-slogans__title {
					font-size: 3.2vw !important;
				}
			}
		}
	}
	
	@media screen and ( min-width: 768px ) and ( max-width: $grid-base-width+px ) {

		&__item {
			padding-top: 13vw;
		}

		&__photo {
			height: 24vw;
		}
		
		&__title {
			font-size: 2.8vw;
		}
		
		[class^="icon-"] {
			height: 11vw;
			font-size: 5vw;
			line-height: 11vw;
		}
		
		p {
			font-size: 1.5vw;
		}
		
		.icon-production, .icon-environment {
			font-size: 6vw;
		}
	}

	@media screen and ( max-width: 767px ) {

		&__item {
			float: none;
			width: 49%;
			display: inline-block;
			margin-bottom: 40px;
			vertical-align: top;
			
			&:nth-child(2n+1) {
				//clear: left;
			}
		}
	}
	
	@media screen and ( max-width: 540px ) {
		&__item {
			width: 100%;
		}
	}
}

