.c-slogans {
	position: relative;
	z-index: 10;
	text-align: center;
	color: white;

	p {
		font-size: em(16);
	}

	&__item,
	&__photo,
	&__title,
	[class^="icon-"] {
		@include hover;
		@include transition-duration(300ms);
	}

	&__item,
	&__photo,
	&__title {
		@include animfix;
	}

	&__item {
		float: left;
		position: relative;
		width: 270px;
		padding-top: 140px;
		cursor: pointer;

		&:nth-child(1) {
			.c-slogans__photo {
				&:before {					
					background-position: calc( -100px - 20px + ((100vw - 1080px)/2)) -203px;
					
					@media screen and ( min-width: 1081px ) {
						background-position: -100px -203px;
					}
					
					@media screen and ( min-width: 1280px ) {
						background-position:  calc( -100px - ((100vw - 1280px)/2)) calc( -203px - ((100vw - 1280px)/2)/1.64);
					}
				}
			}
		}

		&:nth-child(2) {
			.c-slogans__photo {
				&:before {
					background-position: calc( -370px - 20px + (270px - 100%) + ((100vw - 1080px)/2)) -203px;
					
					@media screen and ( min-width: 1081px ) {
						background-position: -370px -203px;
					}
					
					@media screen and ( min-width: 1280px ) {
						background-position:  calc( -370px - ((100vw - 1280px)/2)) calc( -203px - ((100vw - 1280px)/2)/1.64);
					}					
				}
			}
		}

		&:nth-child(3) {
			.c-slogans__photo {
				&:before {
					background-position: calc( -640px - 20px + 2 * (270px - 100%) + ((100vw - 1080px)/2)) -203px;
					
					@media screen and ( min-width: 1081px ) {
						background-position: -640px -203px;
					}
					
					@media screen and ( min-width: 1280px ) {
						background-position: calc( -640px - ((100vw - 1280px)/2)) calc( -203px - ((100vw - 1280px)/2)/1.64);
					}					
				}
			}
		}

		&:nth-child(4) {
			.c-slogans__photo {
				&:before {
					background-position: calc( -910px - 20px + 3 * (270px - 100%) + ((100vw - 1080px)/2)) -203px;
					
					@media screen and ( min-width: 1081px ) {
						background-position: -910px -203px;
					}
					
					@media screen and ( min-width: 1280px ) {
						background-position:  calc( -910px - ((100vw - 1280px)/2)) calc( -203px - ((100vw - 1280px)/2)/1.64);
					}
				}
			}
		}
		
		&.is-active,
		&:hover {
			@media screen and ( min-width: 768px ) {
				border: none;
				padding-top: 100px;
				
				.c-slogans__photo {
					top: -25px;
					width: 100%; height: 258px;
					border: none;
	
					&:after,
					&:before {
						@include opacity(1);
					}
					
					&:before {
						@include transition-delay(600ms);
					}
				}
	
				.c-slogans__title {
				    border: none;
				    margin-bottom: 80px;
					font-size: em(36);
				}
				
				[class^="icon-"] {
					border: none;
				}
			}
		}
	}
	
	[class^="icon-"] {
		@include border-radius( 50% );
		position: absolute;
		top: 0; z-index: 10;
		display: inline-block;
		width: 120px;
		height: 120px;
		margin-bottom: 20px;
		line-height: 110px;
		font-size: em(56);
	}
	
	&__photo {
		@include scut-center-transform(x);
		@include border-radius( 50% );
		position: absolute;
		top: 0;
		width: 120px; height: 120px;
		border: 2px solid white;
		z-index: 5;
		overflow: hidden;
		
		&:before {
			background: {
				image: url(../img/top/home2.jpg);
			}
			
			@media screen and ( min-width: 1280px ) {
				@include background-size( 100vw auto );
			}
			
			@media screen and ( max-width: 1280px ) {
				@include background-size( 1280px auto );
			}
		}
		
		&:after,
		&:before {
			@include hover;
			@include opacity(0);
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			display: block;
			content: ' ';
		}
		
		// photo
		&:before {
			z-index: 5;
			//display: none;
			//background-color: white;
		}
		
		// black
		&:after {
			z-index: 10;
			background-color: rgba(black, .33);
		}

		.o-media {
			@include opacity(.67);
		}
	}
	
	&__title {
		margin-bottom: 25px;
		padding-bottom: 30px;
		border-bottom: 2px solid white;
		font: {
			size: em(30);
		}
	}
	
	&__title,
	p {
		position: relative; z-index: 10;
		display: inline-block;
		width: grid(200, 270);
	}
	
	.icon-production, .icon-environment {
		font-size: em(64);
	}
	
	.icon-environment {
		line-height: 120px;
	}

	
	@media screen and ( min-width: 768px ) {
		position: absolute;
		left: 0; top: 100px;
		width: 100%;

		&__item {
			width: grid(270);
		}
		
		[class^="icon-"] {
			width: grid(120, 270);
		}
	}
	
	@media screen and ( min-width: 768px ) and ( max-width: $grid-base-width+px ) {

		&__item {			
			.c-slogans__title {
				font-size: 3.2vw !important;
			}

			&:hover,
			&.is-active {
				padding-top: 13vw;
				padding-top: 9vw !important;
			
				.c-slogans__photo {
					height: 24vw;
				}
			}
		}
		
		&__photo {
			width: 11vw;
			height: 11vw;
		}
		
		&__title {
			font-size: 2.8vw;
		}
		
		[class^="icon-"] {
			height: 11vw;
			font-size: 5vw;
			line-height: 11vw;
		}
		
		p {
			font-size: 1.5vw;
		}
		
		.icon-production, .icon-environment {
			font-size: 6vw;
		}
	}

	@media screen and ( max-width: 767px ) {

		&__item {
			float: none;
			width: 49%;
			display: inline-block;
			margin-bottom: 40px;
			vertical-align: top;
			
			&:nth-child(2n+1) {
				//clear: left;
			}
			
			&:hover {
				.c-slogans__photo {
					background-color: white;
				}
				
				[class^="icon-"] {
					color: $orange;
				}
			}
		}
	}
	
	@media screen and ( max-width: 480px ) {
		&__item {
			width: 100%;
		}
	}
}

