.c-team {

	&__link {
		&:hover {
			.o-media {
				@include opacity(.8);
			}
		}
	}

	&__photos {
		li {
			float: left;
			width: grid(230, 520);
			margin-bottom: 80px;
			text-align: center;

			&:nth-child(even) {
				float: right;
			}
		}

		.o-media {
			@include border-radius( 50% );
			margin-bottom: 25px;
			overflow: hidden;
		}
	}
	
	&__name {
		@include flexbox;
		@include align-items(flex-end);
		height: 70px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		font-size: em(18);
		
		.c-modal & {
			font-size: em(20);
		}
		
		span {
			display: block;
			width: 100%;
		}
		
		.c-modal & {
		    margin-bottom: 5px;
		    padding-bottom: 0;
		    color: $black;
		}
	}
	
	&__position {
		font: {
			style: italic;
			size: em(16);
		}
		
		.c-modal & {
			padding-right: 60px;
		}
	}
	
	.o-media {
		@include hover;
		margin: 0 auto;
	}
	
	
	@media screen and ( max-width: 480px ) {
		&__photos {
			li {
				float: none;
				width: 49%;
				padding: 0 10px;
				display: inline-block;
				margin-bottom: 40px;
				vertical-align: top;
				
				&:nth-child(even) {
					float: none;
				}
			}
		}

		&__name {
			font-size: em(14);
		}
	}
	
}