body {
	line-height: 1.5;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $light;
	}
	color: $gray--darker;
}

a { 
	@include hover;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	
	&:after {
		@include hover;
	}
}

strong {
	font-weight: $bold;
}